{% extends 'userbase.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-primary">All Hotel Categories
                <a class="btn btn-outline btn-info pull-right" href="{{ path('hotelcategory_new') }}">Create New</a></h1>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-12">
            
                {% for hotelCategory in hotelCategories %}
                    <div class="col-lg-4">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">   
                                        
                                        <p class="lead text-center text-primary" >{{ hotelCategory.categoryName}}</p>
                                        <p>{{ hotelCategory.description }}</p>
                                       
                                        
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-block btn-info" href="{{ path('hotelcategory_show', { 'id': hotelCategory.id }) }}">View Details  <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

            
                                