{% extends '1mainpage.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-6 col-md-offset-3">
                <h1 class="page-header text-info">Reset Password</h1>
            </div>
            
            
        </div>
        <div class="row">

            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Reset your password</h4>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="post">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Current Password" name="password_prev" type="password" value="" id="password_prev" oninput="checkprev(this)" required>
                                    <script language='javascript' type='text/javascript'>
                                        function checkprev(input) {
                                            if (input.value != '{{pw_db}}') {
                                                input.setCustomValidity('Incorrect Current Password');
                                            } else {
                                                input.setCustomValidity('');
                                            }
                                        }
                                    </script>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" id="password" required>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Confirm Password" name="password" type="password"  id="password_confirm" oninput="check(this)" required>
                                    <script language='javascript' type='text/javascript'>
                                        function check(input) {
                                            if (input.value != document.getElementById('password').value) {
                                                input.setCustomValidity('Passwords Must be Matching.');
                                            } else {
                                                input.setCustomValidity('');
                                            }
                                        }
                                    </script>
                                </div>
                                                      
                            </div>

                            <div class="box-footer">
                                <a class="btn btn-default pull-left" href="{{ path('user_show', { 'id': app.session.get('login').getId() }) }}">Cancel</a>
                                <button type="Submit" class="btn btn-info pull-right">Save</button>

                            </div>
                        </form>

                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        </div>


    </div>

    <br><br><br><br>
{% endblock %}
