{% extends '1mainpage.html.twig' %}

{% block body %}

	<section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>About TraTRIP</h2>
				<p class="lead">Island wide service provider for local and foreign tourists </p>
			</div>
			<div class="skill-wrap clearfix">			
				<div class="row">	
					<div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="joomla-skill">                                   
								<p><em>25</em></p>
								<p>Employees</p>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms">
							<div class="wp-skill">
								<p><em>1000</em></p>
								<p>Customers</p>                                     
							</div>
						</div>
					</div>
					 <div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="html-skill">                                  
								<p><em>1000</em></p>
								<p>Hotels</p>
							</div>
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="sinlge-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms">
							<div class="css-skill">                                    
								<p><em>1500</em></p>
								<p>Visiting Places</p>
							</div>
						</div>
					</div>
					
					 
					
				</div>
	
            </div><!--/.our-skill-->
			

			<!-- our-team -->
			<div class="team">
				<div class="center wow fadeInDown">
					<h2>Team of TraTRIP</h2>
					<p class="lead">Our team colloboration</p>
				</div>

				<div class="row clearfix">
					<div class="col-md-5 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<img width="150px" height="150px" class="img-responsive img-circle" src="{{asset('public/img/founder1.jpg')}}" width>
								</div>
								<div class="media-body">
									<h4>Jhon Mark</h4>
									<h5>Founder</h5>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
									<p>This is about Founder</p>
								</div>
							</div>
							
						</div>
					</div>
					
					
					<div class="col-md-5 col-sm-6 col-md-offset-2">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<img width="150px" height="150px" class="img-responsive img-circle" src="{{asset('public/img/founder.jpg')}}">
								</div>
								<div class="media-body">
									<h4>Ebhraham Doe</h4>
									<h5>Administrator</h5>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
									<p>This is about administrator</p>
								</div>
							</div>
							
						</div>
					</div>
				</div> 
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div>        
			</div>
		</div>
    </section>

{% endblock %}